body{
    background-color: antiquewhite;
}
.div{
    background-color: aquamarine;
    clear: both;
    border: solid 1px black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 1000px;
}
a:hover{
    text-decoration: blink;
    color: cornflowerblue;
}
#link{
    text-decoration: none;
    float: right;
}
#link1{
    float: right;
    margin-top: 10px;
    margin-left: 0px;
}
#head {
    text-decoration: underline;
    text-align: center;
    clear: both;
}