body{
    background-color: antiquewhite;
}
.div {
    background-color: aqua;
    display: inline-block;
    clear: both;
    border: solid 1px black;

}
.home{
    text-decoration: none;
    text-align: center;
}
.delete{

    background-color: aqua;
    border: solid 1px black;
    display: inline-block;

    margin-right: 0px;
}
a:hover{
    text-decoration: none;
    color: coral;

}
.center{
    background-color: aqua;
    display: inline-block;


    border: solid 1px black;
}
#footer{

}
.header{
    text-align: center;
    background-color: burlywood;
}